body {
    margin: 10px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(75, 4, 4);
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

header>h1:hover {
    transform: scale(1.1);
    text-decoration: underline;
    transition: 0.7s;
}

article {
    background-color: brown;
    padding: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

img {
    filter: grayscale(100%);
    box-shadow: 10px 10px rgb(134, 113, 113);
}

img:hover {
    box-shadow: 10px 10px rgb(255, 255, 255);
    transition: 0.3s;
}

figcaption {
    margin-top: 15px;
    width: 150px;
    font-size: 20px;
    letter-spacing: 5px;
    width: 550px;
}

.textandvideo {
    position: relative;
}

blockquote {
    display: flex;
    width: 300px;
    font-style: italic;
    font-size: 13px;
    opacity: 0;
}

aside {
    width: 25vw;
}

video {
    margin-top: 20px;
}

@media (width > 1100px) {
    .textandvideo {
        width: 1000px;
    }

    video {
        width: 400px;
        height: 400px;
    }

    aside {
        width: 35vw;
    }
}

@media (width < 1025px > 1025px) {
    video {
        width: 250px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}